body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;   
    box-sizing: border-box;
    font-size: 16px; /*Base font size*/
}


header {
    width: 100%;
    height: 90vh;
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 63%, rgba(237, 221, 83, 1) 100%);
    padding: 16px;
    box-sizing: border-box;
}

#hero h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 6rem;
    font-style: normal;
    margin-bottom: 0px;
    text-align: center;

}

#hero h3 {
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

.primary-button {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    background: white;
    padding: 8px 16px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
}

.primary-button:hover {
    background: #2d2d2d;
    color: white;  /*Text color*/
}

main{
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

main h1{
    text-align: center;
}

main article{
    float: left;
    margin-right: 5%;
    width: 30%;
    background: #57C785;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

main article:last-child{
    margin-right: 0;
    clear: right;
}


article p{
    text-align: center;
    line-height: 100px;
    font-weight: 900;
}

.box-button{
    background: white;
    width: 100px;
    margin: 0 auto;
    padding: 4px 16px;
    border-radius: 8px;
}

.box-button p{
    text-align: center;    
    cursor: pointer;
    line-height: normal;
}

.box-button:hover {
    background: #2d2d2d;
    color: white;  /*Text color*/
}

footer{
    clear: both;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 32px;    
    background-color: #2d2d2d;
}

footer article{
    background-color: #2A7B9B;
}

footer .box1{
    box-sizing: content-box;
    width: 50%;
    background-color: white;
    padding: 0px 48px;
    border: 5px solid maroon;
}

footer .box2{
    margin-top: 8px;
    box-sizing: border-box;
    width: 50%;
    /* background-color: white; */
    padding: 0px 48px;
    border: 5px solid maroon;
}
