body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}


header {
    width: 100%;
    height: 600px;
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 63%, rgba(237, 221, 83, 1) 100%);
    padding: 16px;
}

#hero h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    margin-bottom: 0px;
    text-align: center;

}

#hero h3 {
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

.primary-button {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    background: white;
    padding: 8px 16px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
}

.primary-button:hover {
    background: #2d2d2d;
    color: white;  /*Text color*/
}

main{
    padding: 32px;
}

main h1{
    text-align: center;
}