header {
    width: 100%;
    height: 600px;
    background: rgb(3, 74, 64);
    padding: 16px;
}

#hero h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 0px;
    text-align: center;

}

#hero h3 {
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

.primary-button{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    background: white;
    padding: 8px 16px;
    width: 160px;
    text-align: center;
}
